body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background: #e8edf5;
}

.news-list {
    max-width: 1000px;
    margin: 30px auto;
}

.news-card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.news-card img {
    width: 100%;
    border-radius: 15px;
}